<!DOCTYPE html>
<html lang="pt-br">
<head ng-app="appUFCG">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/font-awesome.css">

	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/ngstorage/ngStorage.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../bower_components/dirPagination/dirPagination.js"></script>
	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/script.js"></script>

	<title>Controle Acadêmico UFCG</title>
	<link rel="icon" href="../img/ufcg.png">

</head>

<body ng-controller="ctrlUFCG" class="site">

	<div class="body">
		
		<div class="container">
			
			<header class="header">
				<div class="banner text-center">
					<img src="../img/ufcg.png" class="imgBanner1">
					<img src="../img/book.svg" class="imgBanner2">
					<h1>Controle Acadêmico Online</h1>
				</div>

				<div class="menu">
					<br>
					<ul class="nav">
						<li><a href="#"><i class="fa fa-home"> </a></i></li>
						
						<li>
							<a href="#">Informações <i class="fa fa-sort-down"></i></a>
							<ul>
								<li><a href="#">Cadastro</a></li>
								<li><a href="#">Histórico</a></li>
								<li><a href="#">Currículo</a></li>
								<li><a href="#">Turmas em curso</a></li>
							</ul>
						</li>
						
						<li>
							<a href="#">Matrículas <i class="fa fa-sort-down"></i></a>
							<ul>
								<li><a href="#">Turmas ofertadas</a></li>
								<li><a href="#">Calendário do campus</a></li>
								<li><a href="#">Calendário do curso</a></li>
							</ul>
						</li>
						
						<li>
							<a href="#">Diversos <i class="fa fa-sort-down"></i></a>
							<ul>
								<li><a href="#">Estágios</a></li>
								<li><a href="#">Trancamento de disciplinas</a></li>
								<li><a href="#">Solicitar desvínculo</a></li>
							</ul>

						</li>
						
						<li>
							<a href="#">Usuário <i class="fa fa-sort-down"></i></a>
							<ul>
								<li><a href="#">Alterar senha</a></li>
								<li><a href="#">Ajuda</a></li>
							</ul>

						</li>
						
						<li><a href="#">Sair</a></li>
					</ul>
				</div>
			</header>

		</div>
		<br>
		<div class="container">
			teste
		</div>

	</div>
	
</body>

</html>