<h2 class">Cadastro do aluno</h2>

<table class="table table-condensed">
	<thead>
		<tr></tr>
		<tr></tr>
	</thead>

	<tbody>
		<tr>
			<td><b>Aluno:</b></td>
			<td>{{$root.usuarioLogado.matricula}} - {{$root.usuarioLogado.nome}}</td>
		</tr>

		<tr>
			<td><b>Curso:</b></td>
			<td>{{$root.usuarioLogado.curso}}</td>
		</tr>

		<tr>
			<td><b>Situação:</b></td>
			<td>{{$root.usuarioLogado.situacao}}</td>
		</tr>

		<tr>
			<td><b>Ingresso:</b></td>
			<td>VESTIBULAR / ENEM 2013.2</td>
		</tr>
	</tbody>

</table>

<hr>

<table class="table table-condensed">
	<thead>
		<tr></tr>
		<tr></tr>
	</thead>

	<tbody>
		<tr>
			<td><b>Data de Nascimento:</b></td>
			<td>01/01/1991</td>
		</tr>

		<tr>
			<td><b>CPF:</b></td>
			<td>123.456.789-00</td>
		</tr>

		<tr>
			<td><b>Identidade:</b></td>
			<td>123456 - SSP - UF (01/01/2000)</td>
		</tr>

		<tr>
			<td><b>Ano de conclusão do Ensino Médio:</b></td>
			<td>2012</td>
		</tr>

		<tr>
			<td><b>Tipo de instituição em que cursou o Ensino Médio:</b></td>
			<td>Somente em escola pública</td>
		</tr>
	</tbody>
</table>

<hr>


